<div class="container header-margin">
  <h1>Contact</h1>
  <hr/>

  <div class="row">
    <div class="col-md-6">
      <iframe id="map"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYYEimjXL5tu8NkiNmFW2VMlRs_8yi-2A&q=Westcliff+Hard,Westcliff+UK"
      allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-6">
      <h3>Westcliff Hard Tennis Club</h3>
      <p>8 The Ridgeway,<br/>
      Westcliff-on-Sea,<br/>
      Essex, SS0 8NT</p>
      <hr/>
      <p><span class="glyphicon glyphicon-earphone"></span> (01702) 478385</p>
      <hr/>
      <p><span class="glyphicon glyphicon-search"></span> Nearest station: Chalkwell</p>
      <hr/>


        <div class="well">
          <p>Feel free to contact us and ask any questions you have using the form below.
          We will try to reply within 24 hours.</p>

<!--- SUBMIT MESSAGE FORM --->

          <form ng-submit="addMessage(messages)" name='messageForm'>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
              <input type="text" class="form-control" name="name" id="name" placeholder="Name" ng-model="messages.name">
            </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-globe"></i>
                </span>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email address (required)" ng-model="messages.email" required>
            </div>

            <div class="alert alert-warning" ng-show="messageForm.email.$touched && messageForm.email.$invalid">
              <h4>Warning!</h4>
              <p>Please enter a valid email address.</p>
            </div>

            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </span>
              <textarea class="form-control" name="message" rows="5" id="message" placeholder="Write your message here (required)" ng-model="messages.message" required></textarea>
            </div>

            <div class="alert alert-warning" ng-show="messageForm.message.$touched && messageForm.message.$invalid">
              <h4>Warning!</h4>
              <p>Please enter a message to send.</p>
              </div>

          </div>

            <button type="submit" class="btn btn-primary" id="submit" value="Submit">Submit</button>

          </form>

        </div>
    </div>
  </div>

  <hr/>
  <h1>Social Media</h1>
  <div class="row">
  <a href="www.twitter.com/westcliffhard">
    <img src="pictures/twitter-logo.png" class="social-media-logo" id="twitter-logo"/>
  </a>
  <div id="twitter-handle">@westcliffhard</div>
</div>
<div class="row">
    <a href="https://www.facebook.com/groups/674038789401828/">
  <img src="pictures/facebook-logo.png" class="social-media-logo" id="fb-logo"/>
</a>
  <div id='fb-handle'> WHTC Facebook Group</div>
</div>

</div>
